<header class="header">
  <h1>
    <a routerLink="/" class="home-link">
      <img src="favicon.ico" alt="" height="30" />
    </a>
    BomERP
  </h1>
</header>

<div class="body">
  <aside class="sidebar">
    <nav>
      <a routerLink="/catalogo/categorias" routerLinkActive="active">Categorias</a>
      <a routerLink="/campanias/categorias-habito" routerLinkActive="active">Categorias de habito</a>
            <a routerLink="/catalogo/productos" routerLinkActive="active">Productos</a>
      <a routerLink="/campanias/habitos" routerLinkActive="active">Habitos</a>
    </nav>
  </aside>

  <main class="content">
    <router-outlet />
  </main>
</div>
